body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    font-size: 16px;
    background-color: #FFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*header*/
.logo {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.logo-part {
    color: var(--IRIS, #4D5AE5);
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.54px;
        text-transform: uppercase;

}

.nav-link {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 16px;
        line-height: 1.5px;
        letter-spacing: 0.32px;
    }

        .nav-link:hover,
        .nav-link:focus {
    color:--OCEAN,#404BBF;
        }
 .header-contact {
    color: var(--SLATE, #434455);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

.header-contact:hover,
.header-contact:focus {
    color: var(--OCEAN, #404BBF);
}
/*main*/
.heto-section {
    background: var(--NAVY-BLUE, #2E2F42);;
}

.main-title {
    color: var(--WHITE, #FFF);
        text-align: center;
        font-size: 56px;
        line-height: 1.1x;
        letter-spacing: 1.12px;
       
        
}

.main-btn {
    color: var(--WHITE, #FFF);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
      }                
           

.main-text {
    font-size: 16px;
    line-height: 1, 5;
    letter-spacing: 0.32px;
}

.title-text {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    line-height: 1, 5;
    letter-spacing: 0.4px;
}

.section-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    line-height: 1, 1;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.section-albom {
    background-color: #F5F4FA;
}

.section-picture {
    background-color: #FFF;
}

/* footer */
.footer-page {
    background-color: var(--NAVY-BLUE, #2E2F42);
}

.logo-part-white {
    color: var(--CLOUD, #F4F4FD);
    font-size: 18px;
    line-height: 1, 2;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    line-height: 1, 5;
    letter-spacing: 0.32px;
}